.bar {
  /* background-color: #f5f5f5; */
  border-radius: 4px;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.section {
  /* border: 1px solid #ccc; */
  background-color: #aaa;
  position: fixed;
  opacity: 0.15;
  filter: blur(1px)
}